body {
  background: rgb(246, 246, 246);
}

p {
  margin: 10px 0 !important;
}

nav,
.brand-logo {
  font-size: 1.8rem !important;
}

.login-container {
  width: 400px;
  text-align: center;
  margin-top: 25vh;
}

.fa-small {
  font-size: 16px !important;
}

.story-btn {
  width: 50px;
  height: 35px;
  margin: 0.5em 0;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.grey {
  font-size: 0.9rem !important;
}
